:root{
    --default-border-color: #babec5;
  --default-white-color: #fff;
  --default-black-color: #000;
  --default-btn-hover-color: #f5f5f5;
  --main-background-color: #eceef1;
  --control-border-color--active: #2ca01c;
  --primary-btn-background-color: #2ca01c;
  --primary-btn-background-color-opacity: rgba(44, 160, 28, 0.2);
  --primary-btn--hover-background-color: #35bf22;
  --primary-btn--active-background-color: #248b15;
  --primary-btn--focus-background-color: #2ca01c;
  --button__footer-border-color: #6b6c72;
  --button__footer-background-color--hover: #2f3034;
  --button__footer-border-color--hover: #6b6c72;
  --button__footer-background--active: #27282b;
  --button__footer-border-color--active: #6b6c72;
  --button__footer-background-color--focus: #27282b;
  --dropdown__item--hover-text-color: #2ca01c;
  --dropdown__footer-background-color--hover: #4b4c51;
  --dropdown__footer-background-color--active: #4b4c51;
  --upload-border-color: #96a593;
  --tab__item--active-text-color: #2ca01c;
  --tab__border-color: #649a5d;
  --tab__router-background-color: #e4e9e7;
  --datepicker-selected-day-color: #2ca01c;
  --datepicker-selected-day-background-color: rgba(44, 160, 28, 0.2);
  --grid-header-background-color: #bcd4b9;
  --grid-body__line-hover-background-color: #fff8cb;
  --grid-body__line-selected-background-color: #f9ecca;
  --footer-background-color: #020a01;
  --slide-bar-background-color: #020a01;
  --slide-bar--active-border-color: #2ca01c;
  --grid-header-border-bottom-color: #649a5d;
  --grid-header-border-left-color: #c7c7c7;
    --border-color-default:#e0e0e0;
    --color-primary: #089740;
    --color-hover:#39AC66;
    --color-focus:#067933;
}